<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Kanban</title>
</head>

<body style="background-image: url('./img/background.jpg'); background-size: 100%; background-repeat: no-repeat;">
    <div id="app">
        <!-- NAVBAR SECTION -->
        <div v-if=" isLogin? seen : ''">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <a class="navbar-brand" href="#" style="font-family: courier;">KANGBAN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                </div>
                <button class="btn btn-primary" v-on:click.prevent="logout">Logout</button>
            </nav>
        </div>
        <!-- LOGIN SECTION -->
        <div v-if=" !isLogin && !register? seen : '' ">
            <div class="mt-5" style="text-align: center; font-family: monospace;">
                <h1>Welcome, to Kangban !</h1>
            </div>
            <div class="container">
                <div class="d-flex row justify-content-center mt-5">
                    <div class="card p-5" style="opacity: 95%;">
                        <h2 style="text-align: center;" class="mb-4 text-body">Login</h2>
                        <form v-on:submit.prevent="login">
                            <div class="form-group">
                                <label for="email_login">Email address:</label>
                                <input v-model="email_login" type="email" class="form-control" value="" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password_login">Password:</label>
                                <input v-model="password_login" type="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary mb-3">Login</button><br>
                            <a href="" style="color:blue" v-on:click.prevent="changeRegister">Don't have an account? Register</a>
                            <div style="position: absolute;" v-if="isError" class="alert alert-info" role="alert">
                                {{isError}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div v-if="!isLogin && register? seen : ''">
            <div class="mt-5" style="text-align: center; font-family: monospace;">
                <h1>Welcome, to Kangban !</h1>
            </div>
            <div class="container">
                <div class="d-flex row justify-content-center mt-5">
                    <div class="card p-5 bg-info" style="opacity: 95%;">
                        <h2 style="text-align: center;" class="mb-4 text-body">Register Your Account</h2>
                        <form v-on:submit.prevent="registerForm">
                            <div class="form-group">
                                <label for="email_register">Email address:</label>
                                <input type="email" v-model="email_register" class="form-control" aria-describedby="emailHelp" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="name_register">Name:</label>
                                <input type="text" v-model="name_register" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password_register">Password:</label>
                                <input type="password" v-model="password_register" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmpassword_register">Confirm Password:</label>
                                <input type="password" v-model="confirmpassword_register" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary mb-3">Register</button><br>
                            <a href="" style="color:blue;" v-on:click.prevent="changeLogin">Already have an account? Login</a>
                            <div style="position: absolute;" v-if="isError" class="alert alert-info" role="alert">
                                {{isError}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN PAGE SECTION -->
        <div v-if="isLogin? seen : ''">
            <div class="container mt-5">
                <h2 style="text-align: center;">SEMANGAT !</h2><br>
                <!-- <a class="nav-item nav-link" href="#" v-on:click="addCard">Add Plan</a> -->
                <div class="d-flex flex-row">
                    <div class="card col-3 mr-3 pb-3" style="text-align: center; background-color:white; height: 100%;">
                        <div class="mt-2">
                            <h4>Back-Log</h4>
                        </div>
                        <hr style="margin-top: 0px;">
                        <div style="max-height: 70vh;" class="overflow-auto">
                            <div class="card mb-2" v-for="task in dataBacklog">
                                <div class="card-body mb-1">
                                    <h5 class="card-title">{{task.title}}</h5>
                                    <div>
                                        <a href="#" class="btn btn-info" v-on:click.prevent="switchRight(task.id, task.category)">Proccess</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-3 bg-warning mr-3 pb-3" style="text-align: center; height: 100%;">
                        <div class="mt-2">
                            <h4>Todo</h4>
                        </div>
                        <hr style="margin-top: 0px;">
                        <div style="max-height: 70vh;" class="overflow-auto">
                            <div class="card mb-2" v-for="task in dataTodo">
                                <div class="card-body mb-1">
                                    <h5 class="card-title">{{task.title}}</h5>
                                    <div>
                                        <a href="#" class="btn btn-dark" v-on:click.prevent="switchLeft(task.id, task.category)">Cancel</a>
                                        <a href="#" class="btn btn-primary" v-on:click.prevent="switchRight(task.id, task.category)">Finish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-3 bg-primary mr-3 pb-3" style="text-align: center; height: 100%;">
                        <div class="mt-2">
                            <h4>Done</h4>
                        </div>
                        <hr style="margin-top: 0px;">
                        <div style="max-height: 70vh;" class="overflow-auto">
                            <div class="card mb-2" v-for="task in dataDone">
                                <div class="card-body mb-1">
                                    <h5 class="card-title">{{task.title}}</h5>
                                    <div>
                                        <a href="#" class="btn btn-dark" v-on:click.prevent="switchLeft(task.id, task.category)">Abort</a>
                                        <a href="#" class="btn btn-success" v-on:click.prevent="switchRight(task.id, task.category)">Verify</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-3 bg-success pb-3" style="text-align: center; height: 100%; opacity: 93%;">
                        <div class="mt-2">
                            <h4>Completed</h4>
                        </div>
                        <hr style="margin-top: 0px;">
                        <div style="max-height: 70vh;" class="overflow-auto">
                            <div class="card mb-2" v-for="task in dataCompleted">
                                <div class="card-body mb-1">
                                    <h5 class="card-title">{{task.title}}</h5>
                                    <div>
                                        <a href="#" class="btn btn-dark" v-on:click.prevent="switchLeft(task.id, task.category)">Recheck</a>
                                        <a href="#" class="btn btn-danger" v-on:click.prevent="deleteTask(task.id)">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>

</html>